@model IEnumerable<AllianceUniversity.Models.Enrollment>

@{
    ViewBag.Title = "Index";
}


<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="h3">Index</span>
        <span class="pull-right">
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
        </span>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>
                    <center>
                        @Html.DisplayNameFor(model => model.Course.Title)
                    </center>
                </th>
                <th>
                    <center>
                        @Html.DisplayNameFor(model => model.Student.LastName)
                    </center>
                </th>
                <th>
                    <center>
                        @Html.DisplayNameFor(model => model.Grade)
                    </center>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <center>
                            @Html.DisplayFor(modelItem => item.Course.Title)
                        </center>
                    </td>
                    <td>
                        <center>
                            @Html.DisplayFor(modelItem => item.Student.LastName)
                        </center>
                    </td>
                    <td>
                        <center>
                            @Html.DisplayFor(modelItem => item.Grade)
                        </center>
                    </td>
                    <td>
                        <center>
                            @Html.ActionLink("Edit", "Edit", new { id = item.EnrollmentId }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Details", "Details", new { id = item.EnrollmentId }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.EnrollmentId }, new { @class = "btn btn-danger" })
                        </center>
                    </td>
                </tr>
            }

        </table>

    </div>
</div>

